<footer class="footer">

<p>Copyright by Mia Khalifa, design factory</p>
<div class="logo">
<a href="">
  <img class ="photo-profil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHTXXLNBBTdgzuRU5GkkLcWRTS6wpXa-y-jcXfxMJtSMn04CxVXdu58kPshpqbGT34hPw&usqp=CAU" alt="Description de l'image">
</a>
</div>


</footer>